<div class="pt-3 pb-3">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-5 pl-1 pt-1 pb-1 mt-0">
      <div class="card">
        <h2>Add New User</h2>
        <form [formGroup]="userFormGroup" (ngSubmit)="addProduct()">
          <label>
            Username
            <input type="text" formControlName="name">
          </label>
          <input type="file" (change)="uploadFile($event)" accept="image/*">
          <button type="submit">Add</button>
        </form>
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
        ></image-cropper>
      </div>
    </div>
  </div>
</div>



