<div class="pt-3 pb-3">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-5 pl-1 pt-1 pb-1 mt-0">
      <div class="card">
        <h2>Add New User</h2>
        <form [formGroup]="userFormGroup" (ngSubmit)="addUser()">
          <label>
            Username
            <input type="text" formControlName="name">
          </label>
          <input type="file" (change)="uploadFile($event)" accept="image/*">
          <button type="submit">Add</button>
        </form>
        <div>
          <image-cropper
            style="width: 512px; height: 512px;float:left;"
            [imageChangedEvent]="imageChangedEvent"
            format="png"
            (imageCropped)="imageCropped($event)"
            [aspectRatio]="1/1"
            [resizeToWidth]="128"
            [onlyScaleDown]="true"
            [cropperMinWidth]="128"
            [roundCropper]="true"
          ></image-cropper>
          <img [src]="croppedImage"
               style="width: 128px; height: 128px;float: left;border-radius: 50%">
        </div>
      </div>
    </div>
  </div>
</div>



