<nav class="navbar navbar-expand-md navbar-new-bottom">
  <div class="navbar-collapse collapse" id="navbar2">
    <ul class="navbar-nav w-100 justify-content-center px-3">
      <li>
        <div style="text-align:center" routerLink="">
          <a  href="/">
            <img  class="titelImage" src="https://res.cloudinary.com/dsrzs78xs/image/upload/v1548835904/sos-2753818_1280.png">
          </a>
        </div>
      <!--</li>
      <li class="paddingtonimg">
        <a href="/"><img class="titelImage"
                         src="https://res.cloudinary.com/dsrzs78xs/image/upload/v1548835904/sos-2753818_1280.png"></a>
      </li>-->
    </ul>
  </div>
</nav>
