.navbar-new-top{
  background: darkgrey;
  background-image: url("https://res.cloudinary.com/dsrzs78xs/image/upload/v1544530382/img-noise-361x370.png");
  position: relative;
}
.navbar-brand{
  font-weight: 600;
}
.navbar-brand img{
  width: 20%;
}
.navbar-new-top ul{
  margin-right: 9%;
}
.navbar-new-top ul li{
  margin-right: 8%;
}
.navbar-new-bottom ul li{
  margin-left: 2%;
  margin-right: 2%;
}
.navbar-nav .nav-item a {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  transition: 1s ease;
}
.navbar-nav .nav-item a:hover{
  color: darkgrey;
}
.dropdown-menu.show{
  background: #f8f9fa;
  border-radius: 0;
}
.navbar-new-bottom{
  height: 60px !important;
  background-color: darkgrey;
  //background-image: url("https://res.cloudinary.com/dsrzs78xs/image/upload/v1544530382/img-noise-361x370.png");
  box-shadow: 0 5px 6px 2px rgba(0,0,0,.3);
  /*border-top: 1px solid blue;*/

  height: 40px;
}
.titelImage{
  height: 10% !important;
  width: 10% !important;
}
.header-btn{
  width: 161%;
  border: none;
  border-radius: 1rem;
  padding: 8%;
  background: darkgrey;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}
.btn-primary{
  margin-top: 6px;
  height: 50px;
  background-color: grey;
  border: black;
  margin-bottom: 8px !important;
  width: 130px !important;
}
.btn-primary:active {
  margin-top: 5px !important;
  margin-bottom: -5px !important;
}
.paddington{
  padding-top: 2.5%;
}
.paddingtonimg{
  padding-top: 2%;
}
.leftLogin{
  float:left;
  width:35%;
  overflow:hidden;

}
.centerStuff{
  float:left;
  width:65%;
  overflow:hidden;

}
