<nav class="navbar navbar-expand-md navbar-new-bottom">
  <div class="navbar-collapse collapse" id="navbar2">
    <ul class="navbar-nav w-100 justify-content-center px-3">
      <li>
        <div>
          <div>
            <div class="leftLogin">
              <a class="mr-4 ml-4" routerLink="" href="#"> <!--TODO-->
                <button class="btn-primary">Log ind</button>
              </a>
            </div>
            <div class="centerStuff">
              <a class="mr-4 ml-4" routerLink="messages" href="#"> <!--TODO-->
                <button class="btn-primary">Chat</button>
              </a>
              <a class="mr-4 ml-4" routerLink="message-log" href="#"> <!--TODO-->
                <button class="btn-primary">[WIP] Chat Log</button>
              </a>
              <a class="mr-4 ml-4" href="#">
                <img class="titelImage"
                     src="https://res.cloudinary.com/dsrzs78xs/image/upload/v1548835904/sos-2753818_1280.png">
              </a>
              <a class="mr-4 ml-4" routerLink="users" href="#"> <!--TODO-->
                <button class="btn-primary">Users</button>
              </a>
              <a class="mr-4 ml-4" routerLink="" href="#"> <!--TODO-->
                <button class="btn-primary">[WIP] Images</button>
              </a>
            </div>
          </div>
        </div>
        <!--</li>
        <li class="paddingtonimg">
          <a href="/"><img class="titelImage"
                           src="https://res.cloudinary.com/dsrzs78xs/image/upload/v1548835904/sos-2753818_1280.png"></a>
        </li>-->
    </ul>
  </div>
</nav>
