<div class="container">
  <div class="pt-3 pb-3">
    <div class="card">
      <div class="card card-body-btns">
        <div class="card-body">
          <h2>List of Users</h2>
          <button class="btn btn-primary mt-1" routerLink="registrer">Registrer</button>
        </div>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <table>
              <tr>
                <th>ID</th>
                <th>Billede</th>
                <th>Navn</th>
                <th>Options</th>
              </tr>
              <tr *ngFor="let user of users |async"> <!--*ngFor="let kunder of kunderArray"-->
                <td>{{user.id}}</td>
                <td><img [src]="user.url" *ngIf="user.url" style="width: 50px; height: 50px;"></td>
                <td>{{user.name}}</td>
                <td>
                  <button style="float: right" (click)="deleteUsers(user.id)" class="ml-1 btn btn-danger">Slet</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
